<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podaci - korisnik</title>
</head>
<body>
    <h1>Moji podaci</h1>
    
    <div>
        <p>IME:<%=data.ime%></p>
        <p>PREZIME: <%=data.prezime%></p>
        <p>EMAIL: <%=data.email%></p>
        <p>BROJ TELEFONA: <%=data.brojTelefona%></p>
        <p>DATUM ROĐENJA: <%=data.datumRodenja%></p>
        <p>GRAD: <%=data.grad%></p>
      
    </div>
    <a href="/">Povratak na početnu stranicu</a>
   
       
    
</body>
</html>